---
import ContentPageHeader from "../components/ContentPageHeader.astro";
import GalleryLayout from "../components/GalleryLayout.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Have a look around...";
const pageDescription = "Take the virtual Moonshine tour before your visit";
const pageImage = "bg-hero-image-gallery";
---

<BaseLayout pageTitle={pageTitle}>
  <ContentPageHeader
    pageTitle={pageTitle}
    pageDescription={pageDescription}
    pageImage={pageImage}
  />
  <div class="relative isolate overflow-hidden py-10" data-aos="fade">
    <div class="mx-auto max-w-6xl px-6">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="text-slate-900 text-3xl font-bold font-serif tracking-tight sm:text-4xl"
        >
          Your place in paradise.
        </h2>
        <p class="mt-6 text-lg leading-8 text-slate-700">
          Click or tap an image to get a larger photo. We hope you enjoy your
          tour.
        </p>
      </div>
    </div>
  </div>

  <GalleryLayout />
</BaseLayout>
