---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import HomepageIntro from "../components/HomepageIntro.astro";
import VideoEmbed from "../components/VideoEmbed.astro";
import HomepageCards from "../components/HomepageCards.astro";
import Image from "../../node_modules/astro/components/Image.astro";
import beach from "../images/beach.jpg";

const pageTitle = "Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <Hero />
  <HomepageIntro data-aos="fade" />

  <!-- <div
    class="h-96 relative isolate px-6 pt-14 lg:px-8 bg-homepage-image bg-cover bg bg-center"
  >
  </div> -->
  <VideoEmbed />

  <div class="relative isolate overflow-hidden py-10 lg:py-12" data-aos="fade">
    <div class="mx-auto max-w-6xl px-6">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="text-slate-900 sm:max-w-md text-3xl font-bold font-serif tracking-tight sm:text-4xl"
        >
          All you need to know, before you go...
        </h2>
        <p class="mt-6 text-lg leading-8 text-slate-700">
          Use the links below find out everything you need to know about
          Moonshine.
        </p>
      </div>
    </div>
  </div>
  <HomepageCards data-aos="fade" />
</BaseLayout>
