---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import HomepageIntro from "../components/HomepageIntro.astro";
import VideoEmbed from "../components/VideoEmbed.astro";
import HomepageCards from "../components/HomepageCards.astro";

const pageTitle = "Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <Hero />
  <HomepageIntro />
  <VideoEmbed />
  <div class="relative isolate overflow-hidden py-6 lg:py-8">
    <div class="mx-auto max-w-6xl px-6">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="text-slate-900 sm:max-w-md text-3xl font-bold font-serif tracking-tight sm:text-4xl"
        >
          All you need to know, before you go...
        </h2>
        <p class="mt-6 text-lg leading-8 text-slate-700">
          Use the links below find out everything you need to know about
          Moonshine.
        </p>
      </div>
    </div>
  </div>
  <HomepageCards />
</BaseLayout>
