---
const { pageTitle, pageDescription } = Astro.props;
---

<div
  class="relative isolate overflow-hidden pt-40 bg-hero-image bg-cover h-auto"
>
  <div
    class="h-full w-full p-0 m-0 bg-gradient-to-t from-slate-700 to-transparent"
  >
    <div class="mx-auto max-w-6xl px-6 lg:px-8">
      <div class="mx-auto max-w-lg lg:mx-0 text-white">
        <h2
          class="pt-20 text-4xl max-w-xs lg:max-w-md sm:text-6xl font-serif font-bold tracking-tight"
        >
          {pageTitle}
        </h2>
        <p class="mt-6 text-lg leading-8 pb-12">
          {pageDescription}
        </p>
      </div>
    </div>
  </div>
</div>
