---
const { pageTitle, pageDescription } = Astro.props;
---

<div
  class="relative isolate overflow-hidden pb-24 pt-40 lg:px-8 bg-hero-image bg-cover"
>
  <div class="mx-auto max-w-6xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 text-white">
      <h2 class="text-4xl sm:text-6xl font-serif font-bold tracking-tight">
        {pageTitle}
      </h2>
      <p class="mt-6 text-lg leading-8">
        {pageDescription}
      </p>
    </div>
  </div>
</div>
