---
const currentYear = new Date().getFullYear();
---

<footer>
  <div
    class="relative isolate h-36 mt-12 text-center px-6 pt-14 lg:px-8 bg-gradient-to-r from-neutral-100 to-stone-200"
  >
    <p class="text-slate-900 font-serif font-bold tracking-tighter text-xl">
      Moonshine
    </p>
    <p>©{currentYear}</p>
  </div>
</footer>
