---
const currentYear = new Date().getFullYear();
---

<footer>
  <div
    class="relative isolate h-36 mt-12 text-center px-6 pt-14 lg:px-8 bg-gradient-to-r from-neutral-100 to-stone-200 rounded-t-[100px] lg:rounded-t-[300px]"
  >
    <p
      class="text-slate-900 font-serif font-bold tracking-tighter text-gray-900 text-xl"
    >
      Moonshine
    </p>
    <p>©{currentYear}</p>
  </div>
</footer>
