---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import { Image } from "astro:assets";
import logo from "../../src/images/logo.png";
---

<header>
  <div class="container">
    <div class="row" id="header-row">
      <div class="four columns">
        <div class="logo-container">
          <Image src={logo} width="230" alt="Moonshine" />
        </div>
      </div>
      <div class="eight columns">
        <nav>
          <Hamburger />
          <Navigation />
        </nav>
      </div>
    </div>
  </div>
</header>
