---
import HeroContent from "../components/HeroContent.astro";
---

<section class="hero-container">
  <video
    id="background-video"
    autoplay
    loop
    muted
    poster="../../src/images/poolarea5.jpg"
  >
    <source src="../../src/images/videoweb.mp4" type="video/mp4" />
  </video>
  <HeroContent />
</section>
