---

---

<div class="relative isolate pt-14 bg-homepage-image bg-cover bg-middle">
  <div
    class="h-full w-full p-0 m-0 bg-gradient-to-t from-stone-700 to-transparent"
  >
    <div class="mx-auto max-w-6xl pt-36 pb-20 lg:pt-72 lg:pb-40 px-6 lg:px-8">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
      <div class="text-left text-white">
        <h1 class="text-4xl sm:text-6xl font-serif font-bold tracking-tight">
          A relaxing stay...
        </h1>
        <p class="mt-6 text-2xl leading-8">At Willoughby bay.</p>
        <div class="mt-10 flex items-center gap-x-6 text-white">
          <a
            href="/booking"
            class="rounded-md bg-orange-600 px-3.5 py-2.5 text-md font-semibold text-white shadow-sm hover:bg-orange-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-900"
            >Book now</a
          >
          <a href="/gallery" class="text-md font-semibold leading-6"
            >Look around <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
