---

---

<div class="relative isolate overflow-hidden py-12 sm:py-16">
  <div class="mx-auto max-w-6xl px-6">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2
        class="text-slate-900 text-2xl font-bold font-serif tracking-tight sm:text-4xl"
      >
        Doing Antigua right.
      </h2>
      <p class="mt-6 text-lg leading-8 text-slate-700">
        Moonshine is a newly built waterfront property with spectacular views of
        Willoughby Bay, Antigua. Featuring 4 ensuite bedrooms with air
        conditioning, private pool, two fully outfitted kitchens and inviting
        indoor and outdoor living spaces. It is an ideal property for
        entertaining and having fun with your family and friends.
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div
        class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-slate-700 sm:grid-cols-2 md:flex lg:gap-x-10"
      >
        <a href="/gallery"
          >Take a look around <span aria-hidden="true">&rarr;</span></a
        >
        <a href="/">About the property <span aria-hidden="true">&rarr;</span></a
        >
        <a href="#"
          >How we make your stay special <span aria-hidden="true">&rarr;</span
          ></a
        >
        <a href="#">Book now <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
  </div>
</div>
