---

---

<div class="relative isolate overflow-hidden py-12 sm:py-16">
  <div class="mx-auto max-w-6xl px-6">
    <h2
      class="text-slate-900 text-2xl font-bold font-serif tracking-tight sm:text-4xl"
    >
      Antigua done right.
    </h2>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-2 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:max-w-lg">
        <p class="mt-6 text-lg leading-8 text-slate-700">
          Moonshine is a newly built waterfront property with spectacular views
          of Willoughby Bay, Antigua, WI. <br />Featuring four ensuite bedrooms
          with air conditioning, private pool, two fully outfitted kitchens and
          inviting indoor and outdoor living spaces. It is an ideal property for
          entertaining and having fun with your family and friends.
        </p>
      </div>
      <div class="lg:max-w-lg">
        <p class="mt-6 text-lg leading-8 text-slate-700">
          Available to rent on a long-term or short-term basis, Moonshine is the
          perfect base to explore the beautiful island of Antigua. <br />To see
          more about availability and pricing head over to our <a
            href="/booking"
            class="font-bold">booking page</a
          >.
        </p>
      </div>
    </div>
  </div>
</div>
