---

---

<!-- <div class="relative" style="padding-top: 56.25%">
  <iframe
    class="absolute inset-0 w-full h-full"
    src="https://www.youtube.com/embed/94YPSdHHkDc?si=oPnIBRyeV7_k9j_8"
    
  ></iframe>
</div> -->
<section
  class="py-10 relative flex items-center max-h-96 justify-center my-12 overflow-hidden"
>
  <!-- <video
    class="z-10 w-auto min-w-full min-h- max-w-none object-cover shadow-xl"
    autoplay
    loop
    muted
    poster="../../src/images/poolarea5.jpg"
  >
    <source
      src="/images/media/videoweb."
      type="video/mp4"
    />
  </video> -->
</section>
