---
const { pageTitle } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import "aos/dist/aos.css";
import "../styles/global.css";
import "@fontsource/cinzel-decorative";
import "@fontsource-variable/dm-sans";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header loading="eager" />
    <slot />
    <Footer data-aos="fade-up" />
    <script>
      import { aosInit } from "../js/aos.js";
      aosInit();
      document.addEventListener("astro:after-swap", aosInit);

      document.addEventListener("astro:before-swap", () => {
        sessionStorage.setItem("scrollPosition", window.scrollY.toString());
      });

      document.addEventListener("astro:after-swap", () => {
        const scrollPosition = sessionStorage.getItem("scrollPosition");
        if (scrollPosition) {
          window.scrollTo({
            top: parseInt(scrollPosition, 10),
            behavior: "instant",
          });
          sessionStorage.removeItem("scrollPosition");
        }
      });
    </script>
  </body>
</html>
